<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>O desenvolvedor</title>
  <%- include('../views/head'); %>
</head>
<body>
  <%- include('../views/nav'); %>
  <section id="second">
    <div class="container-lg pt-4 pb-1">
      <div class="row g-4 justify-content-center align-items-center">
        <div class="text-center">
          <h1>
            <div class="display-5 pt-4 titulo" style="font-weight: 700;">Desenvolvedores web em formação</div>
          </h1>
          <p class="lead my-4 text-muted">Alunos do Curso Técnico de Informática do IFCE</p>
        </div>
        <div class="text-center">
          <span class="tt">
            <img src="/_img/laptop.jpg"class="card-img" style="width: 70%;" alt="laptop">
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- Sistema Nusanha IA -->
  <section id="nusanha" class="bg-light pt-3 pb-2">
    <div class="container my-5">
      <div class="text-center fw-bold">
        <p class="mx-5 px-5 lead">O Sistema Nusanha IA é uma aplicação avançada para consulta de documentos em PDF, oferecendo funcionalidades de inteligência artificial para permitir consultas interativas via chat.</p>
      </div>
      <div class="text-center fw-bold">
        <p class="mx-5 px-5 lead">Foi idealizado como o projeto final do curso técnico de informática para internet do IFCE campus Paracuru.</p>
      </div>
    </div>
    <div class="container my-5">
      <div class="row g-4 align-items-center justify-content-center pt-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card border-2 h-100">
            <div class="card-body text-center py-4">
              <img src="/_img/editar.png" style="width: 20%; min-width: 50px;" class="card-img" alt="Thiago Cadore">
              <p class="display-8 my-2 text-primary fw-bold">Transforme PDFs em conversas inteligentes!</p>
              <p class="card-text mx-2 text-muted d-lg-block">Descubra nosso sistema inovador que permite enviar arquivos PDF e ter conversas inteligentes com IA sobre o conteúdo. Simplifique a análise e extração de informações com facilidade e eficiência.</p>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card border-2 h-100">
            <div class="card-body text-center py-4">
              <img src="/_img/grafico-histograma.png" style="width: 20%; min-width: 50px;" class="card-img" alt="George Paulo">
              <p class="display-8 my-2 text-primary fw-bold">Converse com inteligência artificial sobre seus documentos</p>
              <p class="card-text mx-2 text-muted d-lg-block">Explore uma nova maneira de interagir com seus PDFs. Nosso sistema oferece chatbots inteligentes que ajudam a compreender e extrair dados importantes dos seus documentos em PDF de forma rápida e precisa.</p>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card border-2 h-100">
            <div class="card-body text-center py-4">
              <img src="/_img/livro-aberto-capa.png" style="width: 20%; min-width: 50px;" class="card-img" alt="Garrido Neto">
              <p class="display-8 my-2 text-primary fw-bold">Agilidade e precisão na palma da sua mão</p>
              <p class="card-text mx-2 text-muted d-lg-block">Ganhe tempo e eficiência com nosso sistema de análise de PDF. Aproveite a praticidade de conversar com nossa IA para entender, extrair e utilizar informações cruciais dos seus documentos com facilidade.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <div class="text-center pt-2">
    <p>Equipe de Desenvolvimento:
    Thiago Cadore,
    George Paulo,
    Garrido Neto,
    Jeovah Mário,
    Lucas Diniz</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <footer>
    <%- include('../views/footer'); %>
  </footer>

</body>
</html>